body,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
:root {
  --primary-text: #272727;
}

.navbar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  background-color: blueviolet;
}

.navlinks {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}

.navitems {
  transition: all 100ms ease-in-out;
}
.navitems > a {
  font-size: larger;
  font-weight: bold;

  text-decoration: none;
  color: var(--primary-text);
}

.navitems:hover {
  scale: 1.1;
}
.navitems > a:active {
  scale: 0.9;
}

.heroSection {
  height: 100dvh;
  width: 100dvw;
}

.heroSection > img {
  width: 100%;
  object-fit: cover;
}
